layout {
    cwd "~/dev"

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="1-agent" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane command="claude" cwd="BackOffice.Frontend" {
                    args "--dangerously-skip-permissions" "--add-dir" "../BackOffice.Backend"
                }
                pane command="claude" cwd="BackOffice.Frontend" {
                    args "--dangerously-skip-permissions" "--add-dir" "../BackOffice.Backend"
                }
            }
            pane split_direction="horizontal" {
                pane command="claude" cwd="BackOffice.Frontend" {
                    args "--dangerously-skip-permissions" "--add-dir" "../BackOffice.Backend"
                }
                pane command="claude" cwd="BackOffice.Frontend" {
                    args "--dangerously-skip-permissions" "--add-dir" "../BackOffice.Backend"
                }
            }
        }
    }

    tab name="2-front-nvim" cwd="BackOffice.Frontend" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim"
    }

    tab name="3-front-tools" cwd="BackOffice.Frontend" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/BackOffice.Frontend"
                }

                pane
            }

            pane size="42%" split_direction="horizontal" {
                pane focus=true command="pnpm" {
                    args "start"
                }

                pane command="pnpm" start_suspended=true {
                    args "i"
                }
            }
        }
    }

    tab name="4" { pane; }
    tab name="5" { pane; }

    tab name="6-time"  {
        pane borderless=true command="/Applications/work-tuimer-macos-aarch64"
    }
    tab name="7" { pane; }

    tab name="8" { pane; }

    tab name="9-back-tools" cwd="BackOffice.Backend" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/BackOffice.Backend"
                }

                pane
            }

            pane size="42%" split_direction="horizontal" {
                pane focus=true command="/usr/local/share/dotnet/dotnet"  {
                    args "watch" "run" "--project=Evulution.BackOffice.Webapi"
                }
                pane
            }
        }
    }

    tab name="0-back-nvim" cwd="BackOffice.Backend" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim"
    }
}

scrollback_editor "/Users/cgpp/.local/share/bob/nvim-bin/nvim"
default_mode "locked"
