layout {
    cwd "~/dev"

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="time"  {
        pane borderless=true command="/Applications/work-tuimer-macos-aarch64"
    }

    tab name="agent" {
        pane borderless=true command="claude" {
            args "--dangerously-skip-permissions"
        }
    }

    tab name="front-nvim" cwd="CustomerPortal.Angular" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim" 
    }

    tab name="front-tools" cwd="CustomerPortal.Angular" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/CustomerPortal.Angular"
                }

                pane 
            }

            pane size="42%" split_direction="horizontal" {
                pane focus=true command="pnpm" {
                    args "start"
                }

                pane command="pnpm" start_suspended=true {
                    args "i"
                }
            }
        }
    }

    tab name="back-nvim" cwd="CustomerPortal.WebAPI" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim" 
    }

    tab name="back-tools" cwd="CustomerPortal.WebAPI" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/CustomerPortal.WebAPI"
                }

                pane 
            }

            pane size="42%" split_direction="horizontal" {
                pane focus=true command="./run.sh" 
                pane command="./run.sh" 
            }
        }
    }

    tab
    tab
}

scrollback_editor "/Users/cgpp/.local/share/bob/nvim-bin/nvim"
default_mode "locked"
