layout {
    cwd "~/dev/msp"

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="1-front-nvim" cwd="SmartPower.Lib" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim"
    }

    tab name="2-front-tools" cwd="SmartPower.Lib" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/msp/SmartPower.Lib"
                }

                pane
            }

            pane size="42%" split_direction="horizontal" {
                pane focus=true command="pnpm" {
                    args "exec" "ng" "serve" "--project=evulution" "--build-target=evulution:build:stage"
                }

                pane command="pnpm" start_suspended=true {
                    args "i"
                }
            }
        }
    }

    tab name="3" { pane; }
    tab name="4" { pane; }

    tab name="5-time"  {
        pane borderless=true command="/Applications/work-tuimer-macos-aarch64"
    }
    tab name="6" { pane; }

    tab name="7" { pane; }

    tab name="8-back-tools" cwd="Msp.ApiGateway" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/msp/Msp.ApiGateway"
                }

                pane
            }

            pane size="42%" split_direction="horizontal" {
                pane focus=true
                pane
            }
        }
    }

    tab name="9-back-nvim" cwd="Msp.ApiGateway" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim"
    }

    tab name="0" { pane; }
}

scrollback_editor "/Users/cgpp/.local/share/bob/nvim-bin/nvim"
default_mode "locked"
