layout {
    cwd "~/dev/smartflex"

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="1-front-nvim" cwd="sf-frontend" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim"
    }

    tab name="2-front-tools" cwd="sf-frontend" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/smartflex/sf-frontend"
                }

                pane
            }

            pane size="42%" split_direction="horizontal" {
                pane focus=true command="bun" start_suspended=true {
                    args "start"
                }

                pane command="bun" start_suspended=true {
                    args "install"
                }
            }
        }
    }

    tab name="3-lc-nvim" cwd="Msp.LoadControl" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim"
    }

    tab name="4" { pane; }
    tab name="5" { pane; }
    tab name="6" { pane; }
    tab name="7" { pane; }
    tab name="8" { pane; }

    tab name="9-back-tools" {
        pane split_direction="vertical" {
            pane size="58%" split_direction="horizontal" {
                pane command="yazi" {
                    args "~/dev/smartflex"
                }

                pane
            }

            pane size="42%" split_direction="horizontal" {
                pane cwd="sf-backend" focus=true start_suspended=true command="/usr/local/share/dotnet/dotnet" {
                    args "watch" "run" "--project" "SmartFlex.Portal"
                }

                pane cwd="sf-backend" focus=true start_suspended=true command="/usr/local/share/dotnet/dotnet" {
                    args "watch" "run" "--project" "SmartFlex.Gateway"
                }

                pane cwd="Msp.LoadControl" focus=true start_suspended=true command="./run" {  
                    args "restart"
                }
            }
        }
    }

    tab name="0-back-nvim" cwd="sf-backend" {
        pane borderless=true command="/Users/cgpp/.local/share/bob/nvim-bin/nvim"
    }
}

scrollback_editor "/Users/cgpp/.local/share/bob/nvim-bin/nvim"
default_mode "locked"
